<!--navbar-->
<header class="site-header">
<nav class="nav container">

<div class="nav__social">
<a class="nav__social-link" href="https://www.facebook.com/share/18MLcjt6er/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" aria-label="Visit Facebook" title="Facebook">
<i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
</a>

<a class="nav__social-link" href="https://www.instagram.com/reignandwildersourdoughco?igsh=MTR1bW56OHgzMTA1NQ==" target="_blank" rel="noopener noreferrer" aria-label="Visit Instagram" title="Instagram">
<i class="fa-brands fa-instagram" aria-hidden="true"></i>
</a>
</div>

<ul class="nav__links nav__links--left">
  <li><a class="nav__link" href="index.html">Home</a></li>
  <li><a class="nav__link" href="menu.html">Menu</a></li>
  <li><a class="nav__link" href="shop.html">Shop</a></li>
  <li><a class="nav__link" href="events.html">Events</a></li>
  <li><a class="nav__link" href="reviews.html">Reviews</a></li>
</ul>

<a href="index.html" class="nav__brand">
<img src="images/Logo.png" alt="Reign & Wilder Sourdough Co. logo">
</a>

<ul class="nav__links nav__links--right">
  <li><a class="nav__link" href="guides.html">Guides</a></li>
  <li><a class="nav__link" href="recipies.html">Recipies</a></li>
  <li><a class="nav__link" href="tools.html">Tools</a></li>
  <li><a class="nav__link" href="contact.html">Contact</a></li>
  <li><a class="nav__link" href="about.html">About</a></li>
</ul>

<div class="nav__utilities">
<a class="nav__phone" href="tel:+14174131432">Call (417) 413-1432</a>

</div>

<button 
  class="nav__toggle" 
  aria-label="Open menu"
  aria-expanded="false"
  aria-controls="mobile-menu"
  >
  <i class="fa-solid fa-bars"></i>
</button>

<div class="mobile-menu" id="mobile-menu">
  <ul class="mobile-menu__list">
    <li><a class="mobile-menu__link" href="index.html">Home</a></li>
    <li><a class="mobile-menu__link" href="menu.html">Menu</a></li>
    <li><a class="mobile-menu__link" href="shop.html">Shop</a></li>
    <li><a class="mobile-menu__link" href="events.html">Events</a></li>
    <li><a class="mobile-menu__link" href="reviews.html">Reviews</a></li>
    <li><a class="mobile-menu__link" href="guides.html">Guides</a></li>
    <li><a class="mobile-menu__link" href="recipies.html">Recipies</a></li>
    <li><a class="mobile-menu__link" href="tools.html">Tools</a></li>
    <li><a class="mobile-menu__link" href="contact.html">Contact</a></li>
    <li><a class="mobile-menu__link" href="about.html">About</a></li>
  </ul>
</div>

</nav>

<a href="cart.html" class="floating-cart" aria-label="View cart">
  <i class="fa-solid fa-cart-shopping"></i>
  <span id="floating-cart-count" class="floating-cart-count">0</span>
</a>

</header>